.empCard {
  display: flex;
  gap: 10px;
}

.teamMoodContainer {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow: auto;
  padding: 1vw;
  gap: 10px;
}

.role {
  font-size: 0.7em !important;
  color: #999;
  line-height: 1.2;
}
